/* @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900); */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* font-family: "Lato", helvetica, arial, sans-serif; */
}

body {
  overflow: hidden;
  display: none;
}

@font-face {
  font-family: fontGTA;
  src: url('fontGTA.ttf');
}

#message {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  margin-top: 5vw;
  text-shadow: 0 0 2vw #fff;
  font-size: 5vw;
  font-family: fontGTA;
}

#bar {
  position: relative;
  top: 80%;
  left: 0;
  min-width: 100%;
  width: 100%;
  height: 3vw;
  max-height: 3vw;
  background-color: #222222;
  border-top: 0.2vw #ababab;
  border-bottom: 0.2vw #ababab;
  border-style: solid;
}

#square {
  border: 0.2vw #28B463;
  border-style: dashed solid;
  position: absolute;
  top: 80.35%;
  right: 80%;
  min-width: 3vw;
  width: 3vw;
  height: 3vw;
  max-height: 3vw;
  margin-top: -0.2vw;

}

.key {
  height: 100%;
  width: 3vw;
  max-width: 3vw;
  background-color: white;
  background-size: contain;
  position: absolute;
  right: -10%;
}